[class*=col-]{
  @include flex(row, stretch, space-between, wrap);
  padding: 0 1rem;
  margin: 0 -2rem;
  > *, [class*=col-] {
    padding: 0 1rem;
  }
}

.mobile{
  display: none;
  @include mobile{
    display: block;
  }
}

.no-mobile{
  @include nomobile;
}

.hidden{
  opacity: 0;
  pointer-events: none;
}
